<a class="item">
 <%=link_to "Sala de chat", root_path, class: "item" %> 
</a>
<a class="item">
  Mensagens
</a>
<div class="right menu">
  <div class="ui dropdown item">
    Conta <i class="dropdown icon"></i>
    <div class="menu">
     <% if logged_in? %>
        <%= link_to "Logout", logout_path, method: :delete, class: "item" %>
      <% else %>
        <%= link_to "Entrar", login_path, class: "item" %>
      <% end %>
    </div>
  </div>
   <% if !logged_in? %>
    <div class="item">
      <%= link_to "Entrar", login_path, class: "ui primary button" %>
    </div>
  <% end %>
</div>